<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <!-- <style type="text/css">

    *{
      margin:0;
      padding:0;

    }

    div.form
{
    display: block;
    text-align: center;

}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top:200px;
}
h1{
  margin:auto:
}

body {
    margin:50px 0px; padding:0px;
    text-align:center;
    align:center;

}
label,input {
 display: block;
 width: 150px;
 float: left;
 margin-bottom: 10px;
}

label {
 text-align: right;
 width: 75px;
 padding-right: 20px;
}

br {
 clear: left;
}



    </style> -->
    <style type="text/css">

      container{
        align:center;
        width:100%;
        height:60%;
        top:50px;

      }

    .form-style-4{
	width: 450px;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
</style>


</head>

<body>

<!-- <div class="form">

 <form   action="/task/new" method="post">
   <h1>TO DO LIST</h1>

 <label for="name">Task Name</label>
 <input type="text" name="task_name" placeholder="task_name"><br>

 <label for="address">Task Description</label>
 <input type="text"  name="task_description" placeholder="task_description"><br>

 <label for="city">Creator</label>
 <input  type="text" name="creator" placeholder="creator"><br>
 <label for="city">Duration</label>
 <input  name="duration" placeholder="duration"><br>
 <input type="submit" name="submit" id="submit" value="submit" class="button" />

</form>
</div> -->

<!-- <form class="login-form" action="/task/new" method="post">
  <h1>TO DO LIST</h1>
  <div class="form-input-material">
    <input type="text" name="task_name" placeholder="task_name" class="form-control-material" required />
    <label >Task Name</label>
  </div>
  <div class="form-input-material">
    <input type="text" name="task_description" placeholder="task_description" class="form-control-material" required />
    <label >Task Description</label>
  </div>
  <div class="form-input-material">
    <input type="text" name="creator" placeholder="creator" class="form-control-material" required />
    <label for="password">Creator</label>
  </div>
  <div class="form-input-material">
    <input type="text" name="duration" placeholder="duration" class="form-control-material" required />
    <label for="password">Duration</label>
  </div>
  <button type="submit" class="btn btn-primary btn-ghost">Submit</button>
</form> -->
<div class="container">


<form class="form-style-4" action="/task/new" method="post">
<label for="field1">
<span>Task Name</span><input type="text" name="task_name"  />
</label>
<label for="field2">
<span>task Description</span><input type="text" name="task_description"  />
</label>
<label for="field3">
<span>Creator</span><input type="text" name="creator" />
</label>
<label for="field4">
<span>Duration</span><input type="text" name="duration" />
</label>
<label>
<span> </span><input type="submit" value="SUBMIT" />
</label>
</form>


</div>


</body>
<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>

</html>
